<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="Keywords" content="">
    <link rel="icon" href="data:image/ico;base64,aWNv">
    <title>{% block title %}{% endblock%}</title>
    {% block css %}
    {% endblock%}
</head>
<body>
    <div class="container">
        <section>
            <header class="header">
                <div class="header-cont">
                    <a class="logo" href="/">
                        首页
                    </a>
                    <div class="web-menu">
                        <a class="profile-ico" href="/regloginpage">
                            注册/登录
                        </a>
                    </div>
                </div>
            </header>
            {% block content %}{% endblock %}

        </section>
    </div>
</body>
{% block js %}{% endblock%}
</html>