<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Bootstrap eCommerce</title>
    <!-- Bootstrap -->
    <link href="/static/styles/pages/bootstrap-4.0.0.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/shop">零售商城</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
              <a class="nav-link" href="/shop">首页 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cart">购物车</a>
            </li>
              <li class="nav-item">
              <a class="nav-link" href="/myorder">我的订单</a>
            </li>
            <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">个人信息</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/logout">登出账户</a>
                <a class="dropdown-item" href="/contact">修改个人信息</a>
              </div>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="输入商品名或种类名">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
          </form>
        </div>
      </div>
    </nav>
<div class="container">
<div class="row">
    <div class="col-md-6 col-md-offset-3 col-xl-10 offset-xl-2 p-2">
      <form class="form-inline m-2 p-lg-1" id="username">
        <div class="form-group col-md-4">
			<div>
       		  <p class="form-control-static m-2">现在用户名为：{{current_user.username}}</p>
        	</div>
		</div>
        <div class="form-group col-md-4 ">
          <label for="inputname" class="sr-only">username</label>
          		<input type="text" class="form-control" id="input-username" name="username" placeholder="在此输入新的用户名">
		</div>
		<div class=" col-md-4 ">
        	<button type="submit" class="btn btn-danger" onclick="form=document.getElementById('username');form.action='/edit_username/'">更新</button>
      	</div>
	  </form>
    </div>
  </div>
<div class="row">
  <div class="col-md-6 col-md-offset-3 col-xl-10 offset-xl-2 p-2">
    <form class="form-inline" id="edit-pwd">
  <div class="form-group col-md-4">
    <label for="old-pwd">旧密码：</label>
    <input type="password" class="form-control" id="old-pwd" name="old_password">
  </div>
	<div class="form-group col-md-4">
    	<label for="new-pwd">新密码：</label>
    	<input type="password" class="form-control" id="new-pwd" name="new_password">
	</div>
	<div class="col-md-4">
  		<button type="submit" class="btn btn-danger" onclick="form=document.getElementById('edit-pwd');form.action='/edit_password/'">更新</button>
	</div>
</form>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3 col-xl-10 offset-xl-2 p-2">
    <form class="form-inline m-2 p-lg-1" id="edit-email">
      <div class="form-group col-md-4">
        <div>
          <p class="form-control-static m-2">现在电子邮箱为：{{current_user.email}}</p>
        </div>
      </div>
      <div class="form-group col-md-4 ">
        <label for="inputname" class="sr-only">email</label>
        <div>
          <input type="email" class="form-control" id="input-email" placeholder="在此输入新的电子邮箱" name="email">
        </div>
      </div>
      <div class=" col-md-4 ">
        <button type="submit" class="btn btn-danger" onclick="form=document.getElementById('edit-email');form.action='/edit_email/'">更新</button>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3 col-xl-10 offset-xl-2 p-2">
    <form class="form-inline m-2 p-lg-1" id="phone-number">
      <div class="form-group col-md-4">
        <div>
          <p class="form-control-static m-2">现在手机号为：{{current_user.phone}}:</p>
        </div>
      </div>
      <div class="form-group col-md-4 ">
        <label for="input-number" class="sr-only"></label>
        <div>
          <input type="number" class="form-control" id="input-number" placeholder="在此输入新的电话号码" name="phone">
        </div>
      </div>
      <div class=" col-md-4 ">
        <button type="submit" class="btn btn-danger" onclick="form=document.getElementById('phone-number');form.action='/edit_phone/'">更新</button>
      </div>
    </form>
  </div>
  <div class="col-md-6 col-md-offset-3 col-xl-10 offset-xl-2 p-2">
    <form class="form-inline m-2 p-lg-1" id="address">
      <div class="form-group col-md-4">
        <div>
          <p class="form-control-static m-2">现在地址为:{{ current_user.address }}</p>
        </div>
      </div>
      <div class="form-group col-md-4 ">
          <label for="input-address" class="sr-only">input-address</label>
          <textarea class="form-control" rows="3"id="input-address" placeholder="在此输入新的地址" name="address"></textarea>
      </div>
      <div class=" col-md-4 ">
        <button type="submit" class="btn btn-danger" onclick="form=document.getElementById('address');form.action='/edit_address/'">更新</button>
      </div>
    </form>
  </div>
</div>
</div>
   <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap-4.0.0.js"></script>
</body>
</html>
