<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="/static/styles/pages/Site.css" />
		<link rel="stylesheet" href="/static/styles/pages/zy.all.css" />
		<link rel="stylesheet" href="/static/styles/pages/font-awesome.min.css" />
		<link rel="stylesheet" href="/static/styles/pages/amazeui.min.css" />
		<link rel="stylesheet" href="/static/styles/pages/admin.css" />
	</head>
	<body>
			<div class="am-cf admin-main" style="padding-top: 0px;">
	<div class="am-cf admin-main" style="padding-top: 0px;">
		<div class="admin-content">
			<div class="admin-content-body">
				<div class="am-g">
					<div class="am-u-sm-12 am-u-md-4 am-u-md-push-8">
					</div>
					<div class="am-u-sm-12 am-u-md-8 am-u-md-pull-4"
						style="padding-top: 30px;">
						<form class="am-form am-form-horizontal"
							action="/changepassword/">
							<div class="am-form-group">
								<label for="password1" class="am-u-sm-3 am-form-label">
								原密码</label>
								<div class="am-u-sm-9">
									<input type="text" id="password1" required
										placeholder="原密码" name="password1">
										<small>原密码...</small>
								</div>
							</div>
							<div class="am-form-group">
								<label for="password2" class="am-u-sm-3 am-form-label">
								新密码</label>
								<div class="am-u-sm-9">
									<input type="text" id="password2" required
										placeholder="新密码" name="password2">
										<small>新密码...</small>
								</div>
							</div>
							<div class="am-form-group">
								<div class="am-u-sm-9 am-u-sm-push-3">
									<input type="submit" class="am-btn am-btn-success" value="修改" />
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<footer class="admin-content-footer">
			<hr>
			<p class="am-padding-left"></p>
			</footer>
		</div>
	</div>
			</div>
	</body>
</html>
